.itemRed,
.itemBlue,
.itemBlueLight {
  display: grid;
  align-items: center;
  margin-bottom: 5px;
  padding: 0 12px;
  border-radius: 3px;
  width: 100%;
  grid-template-columns: 3fr 0.9fr 0.8fr 1fr 1fr;
  height: 70px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0 0 20px #00000026;
  }
  :last-child {
    margin-left: auto;
  }
}

.itemRed {
  border-left: solid 4px #e14165;
}

.itemBlue {
  border-left: solid 4px #8686ff;
}

.itemBlueLight {
  border-left: solid 4px #c2c2ff;
}

.cellName {
  font-size: 13px;
  font-weight: 500;
}

.cellType {
  font-size: 12px;
  font-weight: 400;
}

.brownType,
.greenType,
.orangeType,
.redType {
  font-size: 12px;
  font-weight: 500;
}

.brownType {
  color: #5c5c5c;
}

.greenType {
  color: #1bda9d;
}

.orangeType {
  color: #ff8346;
}

.redType {
  color: #fe4848;
}

.cellURL {
  font-size: 12px;
  font-weight: 400;
  color: #5c5c5c;
}

.row {
  height: 70px;
  background-color: #fff;
}
