@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

main {
  margin: 0 auto;
  max-width: 1054px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
